*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
    font-style: normal;
}
/* header-start */
.header{
    padding: 16px;
    background-color: #000;
    color: white;
    align-items: center;
    display: flex;
   
}
#ham{
    width: 30px;
    cursor: pointer;
}
.header>div:nth-child(2){
    padding-left: 10px;
    flex-grow: 8;
}
.header>div:nth-child(3){
    flex-grow: 2;
}


.header>#nav>ul{
    margin: 0;
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    gap: 80px;
    
}

.header>#nav>ul>li{
   margin: auto;
   cursor: pointer;
}

/* header-end */


/* top-start*/
.top{
    background-image: url("images\\bg-desktop.png");
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    position: relative;

}
.selection{
    padding: 350px 16px 16px 16px;
    margin: 0px auto;
    max-width: 440px;
    font-size: 14px;
}

.ride-selection{
    display: inline-flex;
    padding: 8px 0;
}
.down-icon{
    background-image: url("images\\icons_chevron_chevron_down.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.box{
    border: solid 1px #e0e0e0;
    border-radius: 4px;
    margin-bottom: 16px;
}
.box .wrap{
    background-color: white;
    border-radius: 4px;
}
/* .box .wrap-two{
    display: none;
} */
.box .wrap-two::before{
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    border-top: 1px solid #e0e0e0;
}
.select-address{
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    color: #1f1f1f;
}

.green-icon{
    min-width: 8px;
    min-height: 8px;
    border-radius: 50%;
    background-color: #10a310;
    box-shadow: 0 0 8px 8px #e6ffea;
    margin-left: 8px;
    margin-right: 16px;
}
.red-icon{
    min-width: 8px;
    min-height: 8px;
    background-color: #e02d2d;
    box-shadow: 0 0 8px 8px #e6ffea;
    margin-left: 8px;
    margin-right: 16px;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.box .wrap .select-address .placeholder{
    color: #a8a8a8;
    flex: 1;
    padding-top: 16px;
    padding-bottom: 16px;
}

.btn-wrapper .btn-primary[disabled]{
    background-color: #e0e0e0;
    color: #a8a8a8;
    border-color: #e0e0e0;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
}

.btn-wrapper .btn-primary{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    max-width: 440px;
    margin-top: 0;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    background-color: #10a310;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2),0 3px 1px -2px rgba(0,0,0,0.12),0 2px 2px 0 rgba(0,0,0,0.14);
}
/* top-end */

/* promo-start */

.promo{
    display: flex;
    max-width: 1016px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 32px;
    padding-bottom: 16px;
}

.promo>div{
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 16px;
}
.promo>div>img{
    width: 100%;
    border-radius: 4px;
}
/* promo-end */


/* card01-start */

.card-container{
    background-color: #f5f5f5;
    padding: 32px 16px;
}

.card-container>.card-res{
    display: flex;
    flex-direction: row;
    padding: 112px 16px;
    max-width: 1016px;
    margin: 0 auto;
}

.card-box{
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    margin-bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;

}

.card-box:first-child{
    margin-right: 16px;
}

.card-box:last-child{
    margin-left: 16px;
}

.card-box img{
    max-width: 125px;
    max-height: 125px;
    margin-right: 16px;
    mix-blend-mode: darken;
}
.article{
    font-size: 14px;
    display: flex;
    color: rgba(0,0,0,0.78);
    padding: 16px;
}

.card-container .card-box article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

.card-container .card-box article .title{
    font-size: 14px;
    margin: 0 0 8px;
}
.card-container .card-box article p{
    line-height: 1.5;
    color: #666;
    margin: 0;
}
/* card01-end */


/* home-offer-section-start */
.home-offer{
    padding: 40px 0;
}
.home-offer-section{
    display: flex;
    flex-direction: column;
    max-width: 1016px;
    margin: 0 auto;
}
.home-offer-section>div{
    margin: 8px 16px;
}

.home-offer .crousel .wrapper{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}
.home-offer .crousel .wrapper a{
    margin-right: 16px;
    height: 180px;
}
.home-offer .crousel .wrapper a img{
   
    height: 100%;
}

/* home-offer-section-end */


/* sidebar-start */

.sidebar-component{
    position: fixed;
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.sidebar-component .sidebar-ovl{
    position: absolute;
    height: 100%;
    background: rgba(0,0,0,0.6);
    will-change: opacity;
    width: 100%;
    pointer-events: none;
    opacity: 0;
}

.sidebar-component .sidebar{
    background: #fff;
    position: fixed;
    width: 85%;
    height: 120%;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(-102%, 0, 0);
    transform: translate3d(-102%, 0, 0);
    will-change: transform;
    box-shadow: 3px 0 8px 1px rgba(0,0,0,0.4);
    max-width: 400px;
   
}

.sidebar-component nav.list .item{
    padding: 13px 16px;
    color: #4d4d4d;
}
.f-1{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    padding: 13px 16px;
    color: #4d4d4d;
}
.sidebar-component nav.list .item .sm{
    opacity: .4;
    font-size: 12px;
}
.icon{
    margin-right: 5px;
    background-color: #33414f;
    width: 32px;
    height: 30px;
    border-radius: 50%;
   
}

.icon .material-icons .d-img{
    width:18px;
    height: 18px;
    margin-top: 20%;
    margin-left: 22%;

}

.icon .material-icons img{
    width:32px;
    height: 30px;

}
.a-i{
    align-items: center;
}