*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
    font-style: normal;
}
/* header-start */
.header{
    padding: 16px;
    background-color: #000;
    color: white;
    align-items: center;
    display: flex;
}
#ham{
    width: 30px;
}
.header>div:nth-child(2){
    padding-left: 10px;
    flex-grow: 8;
}
.header>div:nth-child(3){
    flex-grow: 2;
}


.header>#nav>ul{
    margin: 0;
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    gap: 80px;
    
}

.header>#nav>ul>li{
   margin: auto;
}

/* header-end */


/* top-start*/
.top{
    background-image: url("images\\bg-desktop.png");
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    position: relative;

}
.selection{
    padding: 350px 16px 16px 16px;
    margin: 0px auto;
    max-width: 440px;
    font-size: 14px;
}

.ride-selection{
    display: inline-flex;
    padding: 8px 0;
}
.down-icon{
    background-image: url("images\\icons_chevron_chevron_down.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.box{
    border: solid 1px #e0e0e0;
    border-radius: 4px;
    margin-bottom: 16px;
}
.box .wrap{
    background-color: white;
    border-radius: 4px;
}
.select-address{
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    color: #1f1f1f;
}

.green-icon{
    min-width: 8px;
    min-height: 8px;
    border-radius: 50%;
    background-color: #10a310;
    box-shadow: 0 0 8px 8px #e6ffea;
    margin-left: 8px;
    margin-right: 16px;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.box .wrap .select-address .placeholder{
    color: #a8a8a8;
    flex: 1;
    padding-top: 16px;
    padding-bottom: 16px;
}

.btn-wrapper .btn-primary[disabled]{
    background-color: #e0e0e0;
    color: #a8a8a8;
    border-color: #e0e0e0;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
}

.btn-wrapper .btn-primary{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    max-width: 440px;
    margin-top: 0;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    background-color: #10a310;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2),0 3px 1px -2px rgba(0,0,0,0.12),0 2px 2px 0 rgba(0,0,0,0.14);
}
/* top-end */